*
  margin: 0
  padding: 0
  box-sizing: border-box
$sofia-pro-font: "../fonts"

@font-face 
  src: url($sofia-pro-font + "/AGaramondPro-Bold.woff") format('woff')
  font-family: ''
  font-weight: 400

@font-face 
  src: url($sofia-pro-font + "/AGaramondPro-Bold.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 400
  
@font-face 
  src: url($sofia-pro-font + "/AGaramondPro-Bold.woff") format('woff')
  font-family: 'Sofia Pro'
  font-weight: 700
  
@font-face 
  src: url($sofia-pro-font + "/AGaramondPro-Bold.woff2") format('woff2')
  font-family: 'Sofia Pro'
  font-weight: 700

body
  background: #FFFFFF
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
  color: #14274A
// luxury intro title
h1
  font-family: 'Adobe Garamond Pro'
  font-style: normal
  font-weight: 700
  font-size: 154px
  line-height: 185px
  letter-spacing: 0.07em
  // titles
h2
  font-family: 'Adobe Garamond Pro'
  font-style: normal
  font-weight: 700
  font-size: 60px
  line-height: 72px
  // rooms
h3
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  font-size: 48px
  line-height: 59px
p
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  font-size: 25px
  line-height: 30px

@media (max-width: 992px)
  h3
    font-size: 30px
    line-height: 38px
    
  h2
    font-size: 35px
    line-height: 40px
  p
    font-size: 18px
    line-height: 20px


@media (max-width: 480px)
  h3
    font-size: 20px
    line-height: 30px
  h2 
    font-size: 32px
    line-height: 38px 
  p
    font-size: 14px
    line-height: 17px 