.facility
  &__container
    max-width: 1580px
    margin: auto
  &__content
    max-width: 1540px
    margin: auto
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    margin-bottom: 84px
  &__title
    margin-bottom: 34px
  &__img
    &-box
      margin-bottom: 186px
      position: relative
      &__name
        position: absolute
        bottom: 0
        left: 30%
        width: 684px
        height: 75px
        background-color: #FFFFFF
        text-align: center

       
    
