.intro
  background-image: url(.././img/facility/hero.png)
  background-repeat: no-repeat
  color: #FFFFFF
  margin-bottom: 82px
  &__container
    max-width: 1500px
    margin: auto
    
.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  &__logo
    display: flex
    flex-direction: column
    align-items: center
    width: 256px
    background-color: $orange
    padding: 41px 0
    border-radius: 0 0 50px 50px
    text-decoration: none
    color: $blue
.logo
  &__title
    font-family: 'Adobe Garamond Pro'
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 48px
  &__subtitle
    font-family: 'Adobe Garamond Pro'
    font-style: normal
    font-weight: 700
    font-size: 15px
    line-height: 18px
    /* identical to box height */

    letter-spacing: 0.6em
.navbar
  width: 700px
  &__items
    list-style: none
    display: flex
    justify-content: space-between
  &__link
    text-decoration: none
    color: inherit
    font-style: normal
    font-weight: 400
    font-size: 25px
    line-height: 30px

.text
  margin-top: 190px
  height: 328px

.title1
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 700
  font-size: 50px
  line-height: 61px
.title2
  font-family: 'Adobe Garamond Pro'
  font-style: normal
  font-weight: 700
  font-size: 154px
  line-height: 134px
  letter-spacing: 0.07em
  padding-bottom: 14px
.title3
  font-weight: 700
  font-size: 60px
  line-height: 60px
  letter-spacing: 0.4em
.title4 
  letter-spacing: 0.1em

.scroll 
  display: flex
  justify-content: end
  flex-direction: column
  align-items: center
  &-btn 
    margin-top: 108px
    text-decoration: none
    color: inherit
    align-items: center
    background-color: $orange
    border-radius: 8px
    padding: 23px 40px
    font-weight: 700
    font-size: 25px
    line-height: 30px
    &__img
      margin-right: 18px
  &-main 
    margin-top: 80px
    margin-bottom: 42px

    &__text 
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 700
      font-size: 25px
      padding-bottom: 10px

@media (max-width: 1600px)
  .intro
    &__container
      max-width: 1200px
      text-align: center
      height: 1080px
  .header
    padding-top: 60px
    &__logo
      display: none
  .navbar
    width: 1200px
    margin: auto
    &__items
      display: flex
      justify-content: space-between
      align-items: center
  


@media (max-width: 1200px)
  .intro
    &__container
      max-width: 707px
      text-align: center
      height: 1080px
  .header
    padding-top: 90px
    &__logo
      display: none
  .navbar
    width: 707px
    margin: auto
    
  

@media (max-width: 992px)
  .navbar
    &__link
      font-size: 20px
      line-height: 24px
  .title1
    font-size: 36px
    line-height: 44px   
  .title2
    font-size: 96px
    line-height: 100px
  .title3
    font-size: 40px
    line-height: 48px
  .title4
    font-size: 16px
    line-height: 20px
  .scroll
    &-btn
      padding: 12px 30px
      font-size: 20px
      line-height: 24px
      &__img
        width: 21px
        height: 18px
    &-main
      display: none
  h2 
    font-size: 40px
    line-height: 52px 

@media (max-width: 480px) 
  .title1
    font-size: 24px
    line-height: 29px
  .title2
    font-size: 60px
    line-height: 70px
  .scroll
    &-btn
      padding: 12px 30px
      font-size: 20px
      line-height: 24px
      &__img
        width: 21px
        height: 18px

  
  
  
  