.room
  background-image: url(.././img/rooms.png)
  background-repeat: no-repeat
  color: #FFFFFF
  margin-bottom: 80px
.rooms
  &__container
    max-width: 1605px
    margin: auto
  &__text
    text-align: center
    margin-bottom: 80px
    &__title
      margin-bottom: 30px
  &__box
    max-width: 1600px
    margin-bottom: 81px
    position: relative
    &__img
      height: 1067px
      width: 1600px
    &__title
      position: absolute
      top: 926px
      width: 100%
      padding: 34px 
      background-color: $blue
      color: #FFFFFF
      text-align: center
  &__add
    width: 100%
    display: flex
    justify-content: space-around
    padding-top: 78px
    padding-bottom: 78px
    border-right: 2px solid $blue
    border-bottom: 2px solid $blue
    border-left: 2px solid $blue
    &__btn
      padding: 24px 44px
      background-color: $orange
      border: none
      border-radius: 8px
      font-weight: 700
      font-size: 25px
      line-height: 30px
      color: #FFFFFF
  &__detail
    display: flex
    align-items: center
    text-decoration: none
    color: inherit
    &__btn
      margin-right: 40px
      

    

      