.contact
  background-color: $blue
  color: #FFFFFF
  margin-bottom: 82px
  &__title
    text-align: center
    margin-top: 48px
    padding-bottom: 170px
    font-weight: 700
    font-size: 80px
    line-height: 98px
.contact-us
  &__container
    max-width: 1510px
    margin: auto
    margin-bottom: 464px
  &__text
    margin-bottom: 166px
  &__info
    display: flex
    justify-content: space-between
  &__adress
    font-size: 40px
    line-height: 49px
    margin-bottom: 28px
  &__phone-email
    font-size: 40px
    line-height: 49px
  &__form
    width: 570px
    display: flex
    flex-direction: column
    font-size: 25px
    line-height: 29px
    &-name
      height: 78px
      margin-bottom: 30px
    &-email
      height: 78px
      margin-bottom: 30px
    &-message
      height: 352px
    &__btn
      margin-top: 52px
      font-weight: 700
      font-size: 25px
      line-height: 30px
      padding: 25px
      background-color: $orange
      width: 147px
      border: none
      border-radius: 8px
      cursor: pointer
      color: #FFFFFF
      margin-left: 425px
      

      
.view-map
  display: flex
  align-items: center
  font-size: 40px
  line-height: 49px
  margin-bottom: 54px
  font-weight: 700
  &__btn
    margin-left: 30px


  




  
